/* this is the comments for my css page
Cameron Eagelston SIU  created 9-15-2022, edited 11-30-2022  */

/*this applies width and a margin to the body of the html file.*/
@media only screen and (max-width: 2024px) { 
    #mobile_menu { display: none; }    
}
/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) { 
    #mobile_menu { display: none; } 
}
/* mobile landscape layout (480px to 767px) */ 

@media only screen and (max-width: 767px) { 
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }       
    header h3 { font-size: .8125em; }   
    p { font-size: .875em; }             
    article h1, main h2, aside h2
        { font-size: 1em; }             
    aside li { font-size: .875em; }     
    
}
/* mobile portrait layout (479px or less) */ 

@media only screen and (max-width: 479px) { 
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }   
    header h3 { font-size: .8125em; }   
    p { font-size: .875em; }            
    article h1, main h2, aside h2 
        { font-size: 1em; }             
    aside li { font-size: .875em; }     
    th, td {
        display: block;
    }
}



body{
    width: 90%;
    background-color: green;
    border: 1px solid black;
    margin: 10px auto;}/*this influences the body paragraph for the index? need to find a way to seperate these things so that I can tell what influences what page*/

h1{width: 90%;
    margin: 10px auto;
    padding: 10px;}/*this applies 10px padding to the h1,h2.*/
h2{width: 90%;
    margin: 10px auto;
    padding: 10px;}
p{padding-left: 5px; padding-right: 5px;}/* this applies 5px left and right padding to the paragraph*/

blockquote{padding-left: 10px;} /* this applies 10px padding left to the blockquote*/


header {width: 90%;
    margin: 15px;
    border: 3px solid black;
    background-color: aquamarine;
    font-weight: bold;
}/*this influences the header for the index?*/

header img{position: static;
    max-width: 90% ;
    border: 20px solid white;
    border-radius: 10px;
}/* this makes the image static as well as applying a blue border color? as well as giving a rounded border to the image*/
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding:0;
    margin:0; }
li {
    background: silver;
    width: 150px;
    margin: 0 15px 15px 0;
    padding: 5px;
    text-align: center;}
a {text-decoration: none;
color: #000;}




